extends layout

block content
  div.flex.mx-auto.bg-gray-50.min-h-screen
    div.flex.flex-col.max-w-sm.w-full.shadow-sm.border-r.bg-white
      div.p-4
        a(href="/").text-3xl.font-bold.text-gray-800="Projects"
      div.p-4.bg-orange-100.border-r-4.border-orange-400
        a(href="/members").text-3xl.font-bold.text-orange-400="Members"
    div.w-full.px-8.bg-gray-50.py-12
          form(action="/members", method="POST").space-y-4.p-8.bg-white.shadow-md.border-b-4.border-orange-400.rounded-lg.max-w-xl
            div
              h1.text-4xl.font-bold.text-gray-700="Add Member"
            
            div.flex.flex-col.space-y-2
              label(for="name") Name:
              input(type="text", id="name", name="name", placeholder="Name").border.border-gray-300.rounded-lg.px-4.py-2

            div.flex.flex-col.space-y-2
              label(for="description") Contact Number:
              input(type="text", id="name", name="contact_number", placeholder="Contact number").border.border-gray-300.rounded-lg.px-4.py-2

            button(type="submit").bg-orange-400.px-6.py-4.rounded-lg.text-white.font-bold Submit   

          div.space-y-8.py-8
            each member in members
                div.p-4.bg-white.shadow-sm.border-l-4.border-orange-400.rounded-lg.flex.justify-between.items-center
                  .flex.flex-col
                    a(href="/members/#{member.id}").text-2xl.font-bold.text-gray-800.text-orange-400 #{member.name}
                    p.text-gray-600 #{member.contact_number}
                  if member.projectName
                      p.text-orange-400.font-bold.text-2xl #{member.projectName}
                  else
                    p.text-gray-400.text-xs.font-medium No project assigned
                    
